@model dogcat.Models.Domain.Pet
@{
    ViewData["Title"] = "펫 상세보기";
}
<head>
    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>

</head>

<link rel="stylesheet" href="/css/MyPet/detail.css" />
<script src="~/js/Pet/delete.js"></script>
<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">

    @if (Model != null)
    {
        <div class="DetailForm">
            <form method="post" name="frmpet">
                @if (Model.Image != null)
                {
                    <img src="@Model.RequestPath" class="img-thumbnail">
                }

                <input type="hidden" asp-for="Id">
                <div class="mb-3">
                    <label class="label" for="name">이름:</label>
                    <span class="form-control">@Model.Name</span>

                    <label class="label" for="species">종류:</label>
                    <span class="form-control">@Model.Species</span>

                    <label class="label" for="old">나이(세):</label>
                    <span class="form-control">@Model.Old</span>

                    <label class="label" for="weight">무게(kg):</label>
                    <span class="form-control">@Model.Weight</span>
                </div>

                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-dark" asp-controller="Mypet" asp-action="Edit" asp-route-id="@Model.Id">수정</a>

                        <button type="submit" class="btn btn-outline-dark" id="delete">삭제</button>
                    </div>
                </div>
            </form>
        </div>


    }
    else
    {
        <script>
            alert("없는 데이터입니다.");
            history.back();
        </script>
    }

</body>