@model List<dogcat.Models.Domain.Write>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "목록";

    long cnt = (long)ViewData["cnt"];  // 전체글개수
    int page = (int)ViewData["page"];  // 현재 페이지
    int totalPage = (int)ViewData["totalPage"];  // 총 '페이지' 수
    int pageRows = (int)ViewData["pageRows"];  // 한 '페이지' 에 표시할 글 개수
    string category = (string)ViewData["category"];
    int? UserId = HttpContextAccessor.HttpContext.Session.GetInt32("userId") ?? 0; //비회원여부
    string userNickName = HttpContextAccessor.HttpContext.Session.GetString("userNickName") ?? "비회원";
}
@{
    // [페이징]
    string url = (string)ViewData["url"];  // 목록 url
    int writePages = (int)ViewData["writePages"]; // [페이징] 에 표시할 숫자 개수
    int startPage = (int)ViewData["startPage"]; // [페이징] 에 표시할 시작 페이지
    int endPage = (int)ViewData["endPage"]; // [페이징] 에 표시할 마지막 페이지
}

<head>
    <script src="~/js/Board/List.js"></script>
    <link rel="stylesheet" href="~/css/Board/List.css">
</head>

<haeder>


</haeder>
<div class="container1">
    @if (category == "카테고리1")
    {
        <h2>강아지</h2>
    }
    else if (category == "카테고리2")
    {
        <h2>고양이</h2>
    }
    else
    {
        <h2>전체글보기</h2>
    }


    <hr>

    <div class="mb-3 mt-3 clearfix">

        <form name="frmCombined" id="frmCombined" method="get" action="/Board/List">
            <span class="float-end me-2">
                <select class="form-select" name="pageRows">
                    <option value="10" selected="@(pageRows == 10)">10</option>
                    <option value="15" selected="@(pageRows == 15)">15</option>
                    <option value="20" selected="@(pageRows == 20)">20</option>
                    <option value="30" selected="@(pageRows == 30)">30</option>
                </select>
            </span>
            <span class="float-end me-3">
                <select class="form-select" name="category">
                    <option value="전체" selected="@(category == "전체")">전체</option>
                    <option value="카테고리1" selected="@(category == "카테고리1")">카테고리1</option>
                    <option value="카테고리2" selected="@(category == "카테고리2")">카테고리2</option>
                    <option value="카테고리3" selected="@(category == "카테고리3")">카테고리3</option>
                </select>
            </span>
            <input type="hidden" name="page" value="@(page)">
        </form>
        <div class="cntstart">
            <span class="float-start ">총 @(cnt)개의 글</span>
        </div>
        <div class="btntable">
            <button class="btn" id="btn1">테이블 1</button>
            <button class="btn" id="btn2">테이블 2</button>
        </div>
    </div>

</div>
<div class="container2">
    @if (UserId != null && userNickName != null)
    {
        <div class="btncnt">
            <a class="btn" asp-controller="Board" asp-action="Write" name="buttonName" value="Write">@userNickName<br> 반갑습니다</a>
            <br>
            @if (UserId != 0)
            {
                <div class="UserOnly">
                    <a class="btn" asp-controller="MyPage" asp-action="Home" asp-route-id="@UserId" name="buttonName" value="mypage">마이페이지로가기</a>
                    <br>
                    <a class="btn" asp-controller="Board" asp-action="Write" name="buttonName" value="Write">게시글 작성하기</a>
                    <br>
                    <a class="btn" asp-controller="Message" asp-action="Add" asp-route-id="@UserId" name="buttonName" value="Message">메세지 보내기</a>
                </div>
            }
        </div>
    }
    <div class="vertical-line"></div>
    <div class="table-container">
        <table class="table table-hover" id="table1">
            <thead class="table-primary">
                <tr>
                    <th>#</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var write in Model)
                {
                    <tr>
                        <td>
                            @write.Id
                        </td>
                        <td>@write.Category</td>
                        <td>
                            <a asp-controller="Board" asp-action="Detail" asp-route-id="@write.Id" name="buttonName" value="Detail">@write.Title</a>
                        </td>
                        <td>@write.NickName</td>
                        <td>@write.Time</td>
                        <td>@write.ViewCnt</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <table id="table2" class="table2" style="display: none;">
        @for (var i = 0; i < Model.Count; i += 4)
        {
            <tr>
                @for (var j = i; j < i + 4 && j < Model.Count; j++)
                {
                    var write = Model[j];
                    <td>
                        @if (write.RequestPath != null)
                        {
                            <img src="@write.RequestPath">
                        }
                        <hr>
                        <a asp-controller="Board" asp-action="Detail" asp-route-id="@write.Id" name="buttonName" value="Detail">@write.Title</a>
                        <br>
                        @write.NickName
                    </td>

                }
            </tr>
        }
    </table>
</div>

<div class="col-12">
    <span class="float-end me-5">page @(page)/@(totalPage)</span>

</div>

<div class="container mt-1">
    <ul class="pagination justify-content-center">
        @* << 표시 여부 *@
        @if (page > 1)
        {
            <li class="page-item"><a class="page-link" href="@url"><i class="fas fa-angle-double-left"></i></a></li>
        }


        @* < 표시 여부 *@
        @if (startPage > 1)
        {
            <li class="page-item"><a class="page-link" href="@(url + "?page=" + (startPage - 1)+"&category="+category + "&pageRows="+pageRows)"><i class="fas fa-angle-left"></i></a></li>
        }

        @* [페이징] 안의 '숫자' 표시 *@
        @if (totalPage > 1)
        {
            @for (int k = startPage; k <= endPage; k++)
            {
                @if (k != page)
                {
                    <li class="page-item"><a class="page-link" href="@(url + "?page=" + k + "&category="+category + "&pageRows="+pageRows)">@k</a></li>
                }
                else
                {
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">@k</a></li>
                }
            }
        }

        @* > 표시 여부 *@
        @if (totalPage > endPage)
        {
            <li class="page-item"><a class="page-link" href="@(url + "?page=" + (endPage + 1) + "&category="+category + "&pageRows="+pageRows)"><i class="fas fa-angle-right"></i></a></li>
        }
        @* >> 표시 여부 *@
        @if (page < totalPage)
        {
            <li class="page-item"><a class="page-link" href="@(url + "?page=" + totalPage + "&category="+category + "&pageRows="+pageRows)"><i class="fas fa-angle-double-right"></i></a></li>
        }
    </ul>
</div>