@model List<dogcat.Models.Domain.User>
@{
    ViewData["Title"] = "유저 관리";

}
<head>
    <link rel="stylesheet" href="~/css/Admin/User.css">
    <script src="/js/Admin/search.js"> </script>
</head>

@if (Model != null)
{
    <div class="ta">

        <form class ="search" method="GET">
            <input type="text" placeholder="검색할 회원의 아이디를 입력해주세요" name="search">
            <button type="submit" id="searchbtn"><i class="fa fa-search"></i></button>
        </form>

        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th>이름</th>
                    <th>Id</th>
                    <th>Pw</th>
                    <th>닉네임</th>
                    <th>전화번호</th>
                    <th>이메일</th>
                    <th>관리자 권한</th>
                    <th>Ban</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var user in Model)
                {
                    <tr>
                        <td><a asp-controller="Admin" asp-action="Detail" asp-route-id="@user.Id">@user.Name</a> </td>
                        <td>@user.Userid</td>
                        <td>@user.Pw</td>
                        <td>@user.NickName</td>
                        <td>@user.PhoneNum</td>
                        <td>@user.Mail</td>
                        <td>@user.Admin</td>
                        <td>@user.Ban</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <script>
        alert("관리자권한이 없습니다.");
        history.back();
    </script>
}
