@model dogcat.Models.Domain.User
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "상세보기";
}
@{
    int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("userId") ?? 0;

}
<script src="~/js/Admin/Ban.js"></script>
<link rel="stylesheet" href="~/css/Admin/Detail.css">

@if (Model != null)
{
    <form method="post" name="frmban">
        <input type="hidden" asp-for="Id">

        <div class="card">
            <img src="/css//avatar2.png" alt="Avatar" style="width:50%;">
            <div class="container">
                <div class="box">
                    <label for="name">이름:</label>
                    <span class="form-control">@Model.Name</span><br>
                    <label for="name">Id:</label>
                    <span class="form-control">@Model.Id</span><br>
                    <label for="name">닉네임:</label>
                    <span class="form-control">@Model.NickName</span><br>
                    <label for="name">전화번호:</label>
                    <span class="form-control">@Model.PhoneNum</span><br>
                    <label for="name">메일:</label>
                    <span class="form-control">@Model.Mail</span><br>
                    <label for="name">Ban:</label>
                    <span class="form-control">@Model.Ban</span><br>
                    <button type="button" class="btn btn-outline-dark" onclick="goToPreviousPage()">이전으로</button>

                    @if (Model.Ban == 1)
                    {
                        <button type="button" class="btn btn-outline-danger" id="noban">해제</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-outline-danger" id="userban">밴</button>
                    }
                </div>
            </div>
        </div>
    </form>
}



<script>
    function goToPreviousPage() {
        window.location.href = "http://localhost:5094/Admin/AdminAlluser/" + @userId;
    }
</script>