@model dogcat.Models.Domain.User
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("userId");
}
<link rel="stylesheet" href="/css/Mypage/home.css">
@if (Model != null)
{
    <h3 class ="name">마이페이지 </h3>
    <div class="page">
        <div class="btncnt">
            <a class="btn">@Model.NickName 님<br> 반갑습니다</a>
            <br>
            <a class="btn" asp-controller="MyPage" asp-action="Home" asp-route-id="@Model.Id">마이페이지로가기</a>
            <br>
            <a class="btn" asp-controller="Board" asp-action="Write">게시글 작성하기</a>
            <br>
            <a class="btn" asp-controller="Message" asp-action="Add" asp-route-id="@Model.Id">메세지 보내기</a>
        </div>

        <div class="mypage">
            <div class="pet">
                <img src="/css/P_Mypageimg1.png" alt="">
                <div class="petinfo">
                    <b>내 애완동물을 등록해보세요!</b>

                    <a class="btn btn-outline-dark" asp-controller="Mypet" asp-action="MypetPage" asp-route-id="@Model.Id">내 애완동물보러가기</a>
                    <a class="btn btn-outline-dark" asp-controller="Mypet" asp-action="Add" asp-route-id="@Model.Id">내 애완동물 등록하기</a>
                </div>
            </div>

            <div class="account">
                <img src="/css/P_Mypageimg2.png" alt="">
                <div class="accountinfo">
                    <b>아이디, 비밀번호, 계정설정을 하려면 계정설정을 눌러주세요</b>
                    <a class="btn btn-outline-dark" asp-controller="Mypage" asp-action="Page" asp-route-id="@Model.Id">계정설정</a>
                </div>
            </div>
            <div class="petcal">
                <img src="/css/P_Mypageimg3.png" alt="">
                <div class="petcalbtn">
                    <b>애완동물의 건강이 걱정 되시나요?</b>
                    <a class="btn btn-outline-dark" asp-controller="Mypet" asp-action="CarculateCalorie" asp-route-id="@Model.Id">권장 칼로리 알아보기</a>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <script>
        alert("누구세요?");
        history.back();
    </script>
}
