@model List<dogcat.Models.Domain.Write>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

}
<head>
    <link rel="stylesheet" href="~/css/Home/Index.css">
</head>
<div id="content">
    <div class="board">
        <div class="admin">
            <b>공지사항</b>
            @if (Model.Count > 0)
            {
                <div class="adminwrite">
                @foreach (var i in Model.Where(x => x.Category == "공지사항").OrderByDescending(x => x.Time).ToList().Take(3))
                {
                    <hr>
                        <li><a href="/Board/Detail/@i.Id">@i.Title</a></li>
                }
                </div>
            }
            else
            {
                <b>아직 공지사항이 없습니다.</b>
            }
        </div>
        <div class="userBoard">
            <div class="free">

                <b>자유게시판</b>

                <hr />
                @if (Model.Count > 0)
                {
                    <table border="1" cellpadding="5" cellspacing="0">
                        @for (var i = 0; i < 2; i++)
                        {
                            <tr>
                                @for (var j = 0; j < 3; j++)
                                {
                                    var index = i * 3 + j;
                                    var item = Model.Where(x => x.User.Admin == 0 && x.Image != null)
                                    .OrderByDescending(x => x.Time)
                                    .Skip(index)
                                    .FirstOrDefault();

                                    <td>
                                        @if (item != null)
                                        {
                                            <img src="@item.RequestPath" alt="Facebook">
                                            <br>
                                            <a href="/Board/Detail/@item.Id">@item.Title</a>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <b>게시판에 글이 없습니다.</b>
                }
            </div>

            <div class="populer">
                <b>인기글</b>
                <hr />

                @if (Model.Count > 0)
                {
                    <table border="1" cellpadding="5" cellspacing="0">
                        @for (var i = 0; i < 2; i++)
                        {
                            <tr>
                                @for (var j = 0; j < 3; j++)
                                {
                                    var index = i * 3 + j;
                                    var item = Model.Where(x => x.User.Admin == 0 && x.Image != null)
                                    .OrderByDescending(x => x.ViewCnt)
                                    .Skip(index)
                                    .FirstOrDefault();

                                    <td>
                                        @if (item != null)
                                        {
                                            <img src="@item.RequestPath" alt="Facebook">
                                            <br>
                                            <a href="/Board/Detail/@item.Id">@item.Title</a>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <b>게시판에 글이 없습니다.</b>
                }
            </div>
        </div>
    </div>
    @* <div class="clear"></div>
    <div class="explanation">
    <div class="container">
    <div class="photo"></div>
    <div class="text">
    <h2>반려동물 상태가 이상해요.</h2>
    <p>새로운곳, 낯선곳에서 반려동물이 아플때, 빨리 병원에 데려가 치료를 받게하고 싶은데 근처의 동물병원이 어디있는지 찾아볼 수 있습니다.</p>
    <a href="#">찾아보기<span class="fa fa-chevron-right"></span></a>
    </div>
    </div>
    </div>*@
</div>
