@model List<dogcat.Models.Domain.Write>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

}
<head>
    <link rel="stylesheet" href="~/css/Home/Index.css">
</head>
<div id="content">
    <div class="board">
        <div class="admin">
            <b>공지사항</b>
            @if (Model.Count > 0)
            {
                <div class="adminwrite">
                    @foreach (var i in Model.Where(x => x.Category == "공지사항").OrderByDescending(x => x.Time).ToList().Take(3))
                    {
                        <hr>
                        <li><a href="/Board/Detail/@i.Id">@i.Title</a></li>
                    }
                </div>
            }
            else
            {
                <b>아직 공지사항이 없습니다.</b>
            }
        </div>
        <div class="userBoard">
            <div class="free">

                <b>자유게시판</b>
                <hr>
                @if (Model.Count > 0)
                {
                    <table>
                        @for (var i = 0; i < 2; i++)
                        {
                            <tr>
                                @for (var j = 0; j < 3; j++)
                                {
                                    var index = i * 3 + j;
                                    var item = Model.Where(x => x.User.Admin == 0 && x.Image != null)
                                    .OrderByDescending(x => x.Time)
                                    .Skip(index)
                                    .FirstOrDefault();

                                    <td>
                                        @if (item != null)
                                        {
                                            <a href="/Board/Detail/@item.Id">
                                            <img  src="@item.RequestPath" alt="Facebook">
                                            </a>
                                            <br>
                                            <a href="/Board/Detail/@item.Id">@item.Title</a>
                                            <br>
                                            
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <b>게시판에 글이 없습니다.</b>
                }
            </div>

            <div class="populer">
                <b>인기글</b>
                <hr>
                @if (Model.Count > 0)
                {
                    <table>
                        @for (var i = 0; i < 2; i++)
                        {
                            <tr>
                                @for (var j = 0; j < 3; j++)
                                {
                                    var index = i * 3 + j;
                                    var item = Model.Where(x => x.User.Admin == 0 && x.Image != null)
                                    .OrderByDescending(x => x.ViewCnt)
                                    .Skip(index)
                                    .FirstOrDefault();

                                    <td>
                                        @if (item != null)
                                        {
                                             <a href="/Board/Detail/@item.Id">
                                            <img  src="@item.RequestPath" alt="Facebook">
                                            </a>
                                            <br>
                                            <a href="/Board/Detail/@item.Id">@item.Title</a>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <b>게시판에 글이 없습니다.</b>
                }
            </div>
        </div>
    </div>

    <div class="text">
        <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA0MTZfMjEy/MDAxNTU1MzQ3OTcyMTE3.ZoQoEnuWGBCXVoowqLyfnqH92Sr9GJMIj53unUXvrqcg.sD-J4fKTc4B9HtMPimRiJP6JUQns4JNd8DaRNzGSemYg.JPEG.jubbigi/%EA%B3%A0%EC%96%91%EC%9D%B4%EC%A7%A47.jpg?type=w800"></img>
       <div class="textctn">
        <span>반려동물 상태가 이상해요.</span>
        <br>
        <p>새로운곳, 낯선곳에서 반려동물이 아플때, 빨리 병원에 데려가 치료를 받게하고 싶은데 근처의 동물병원이 어디있는지 찾아볼 수 있습니다.</p>
        <br>
        <a href="/Map/MapSelectView" class="button">찾아보기<span class="fa fa-chevron-right"></span></a>
        </div>
    </div>
     <div class="calory">
        <img src="https://i.namu.wiki/i/bEakEX_TwanYtABzsV2949mfvnCc5vj6WvpMu_J3xEyOhRtrT5yG34Yy4PxLWcybI-jf2sgxRnZd8Kvv3tjQVA.webp"></img>
       <div class="caloryctn">
        <span>애완동물한테 사료를 얼마줄지 모르겠어요</span>
        <br>
        <p>애완동물의 적정 사료량을 모를 때, 애완동물이 너무 뚱뚱한거 같을 떄
           애완동물의 적정 사료랑을 알아보세요!
        </p>
        <br>
        <a href="/Map/MapSelectView" class="button">찾아보기<span class="fa fa-chevron-right"></span></a>
        </div>
    </div>
</div>
